
@model IEnumerable<MVC.Models.Paquete>

@{
    ViewBag.Title = "ConsultarPorFecha";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ConsultarPorFecha</h2>

@using (Html.BeginForm())
{
    <p>
        Fecha: @Html.TextBox("fecha")
        <input type="submit" value="Search" />
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.destinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remitente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.destinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remitente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>

        </tr>
    }

</table>
        </div>

