@model IEnumerable<MVC.Models.Paquete>

@{
    ViewBag.Title = "ConsultarPorRemitente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.destinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remitente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.destinatario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remitente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>

        </tr>
    }

</table>
