@model MVC.Models.Paquete

@{
    ViewBag.Title = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Insertar paquetes</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Paquete</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.destinatario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.destinatario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.destinatario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.remitente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.remitente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.remitente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList( "Tipo", new List<SelectListItem>
                    {
                    new SelectListItem{Text="Carta",Value="Carta"},
                    new SelectListItem{Text="Paquete",Value="Paquete"},

                    }, "Selecciona tipo", htmlAttributes: new { @class = "form-control" }) 
                @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cantidad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("Estado", new List<SelectListItem>
                    {
                    new SelectListItem{Text="Entregado",Value="Entregado"},
                    new SelectListItem{Text="Recibido",Value="Recibido"},

                    }, "Selecciona estado", htmlAttributes: new { @class = "form-control" })
            
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear!" class="btn btn-default" />
            </div>
        </div>
    </div>
}

